body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.fixed-left {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 50vw;
    overflow-y: auto;
    background-color: black !important;
}

.name-title {
    text-align: left;
}

.nav-link {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px 0;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 5px 0;
    transition: all 0.3s ease-in-out;
    position: relative;
    text-align: left;
}

.nav-link:hover {
    color: white;
}

.nav-link::before {
    content: "—";
    position: absolute;
    left: 0;
    transform: translateX(-150%);
    font-size: 20px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav-link.active::before {
    opacity: 1;
}

.nav-link.active {
    color: white;
}

.overflow-auto {
    margin-left: 50vw;
    width: 50vw;
    padding: 10px 50px;
    background-color: black !important;
    color: white;
}

h2 {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    color:white;
    margin-bottom: 3px; 
}


#about, #education, #skills, #projects, #contact {
    margin-bottom: 8px;
}


section {
    padding: 5px 0; 
    margin-bottom: 5px; 
}

.contact-line {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-top: 5px;
}

.social-icons {
    display: flex;
    gap: 5px;
    margin-top: 5px;
    align-items: center;
}


.skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    max-width: 600px;
    margin: 0 auto;
}

.skill {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 8px 12px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: black;
    text-align: center;
}


@media (min-width: 769px) {
    .fixed-left {
        position: fixed;
        left: 0;
        top: 0;
        width: 50vw;
        height: 100vh;
        overflow-y: auto;
    }

    .overflow-auto {
        margin-left: 50vw;
        width: 50vw;
        height: 100vh;
        overflow-y: auto;
    }
}


@media (max-width: 768px) {
    .fixed-left, .overflow-auto {
        width: 100vw !important;
        height: auto;
        position: relative;
        padding: 10px;
    }

    .overflow-auto {
        background-color: black;
        margin-left: 0;
    }

   
    .nav-link {
        text-align: center;
        margin-bottom: 10px;
        font-size: 1.1rem;
    }

  
    h2 {
        font-size: 1.5rem;
    }

    
    .social-icons i {
        font-size: 1.5rem;
    }

   
    section {
        margin-bottom: 1.5rem;
    }

   
    .resume-link {
        text-align: center;
    }
}
.name {
    margin-bottom: -7px; 
.para{
    margin-bottom: -30px;
}
